/* src/FormPage.module.css */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 100px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  button {
    padding: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  .submitButton {
    background: #007bff;
    color: white;
    margin-bottom: 10px;
  }
  
  .resetButton {
    background: #dc3545;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* src/FormPage.module.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Gör att sidan fyller hela skärmen */
    margin: 0;
    background-color: #f4f4f4; /* Valfri bakgrundsfärg */
  }
  
